@use "vars" as *;

html, body {
  position: relative;
}

:root {
  font-size: 16px;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6,ul,ol,p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: $container;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fc {
  display: flex;
  align-items: center;

  &c {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-family: "Nunito", serif;
}

.theme-open, body:has(main.theme-open) {
  & * {
    &.title {
      font-family: 'Pixelify Sans', sans-serif;
    }

    &:not(.title) {
      font-family: 'Nunito', serif;
    }
  }
}