@use "vars" as *;

html, body {
  position: relative;
  overflow: hidden visible;
  width: 100vw;
}

html {
  font-size: 1rem;

  &:has(body.customize-support) {
    padding-top: 2rem;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: $white;
}

h1,h2,h3,h4,h5,h6,ul,ol,p,hr {
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  margin: 0;
}

ul, li, ol {
  list-style: none;
  padding-left: unset;
}

a {
  text-decoration: none;
}

.fc {
  display: flex;
  align-items: center;

  &c {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.theme-open, body:has(main.theme-open) {
  & * {
    &.title {
      font-family: 'Pixelify Sans', sans-serif;
    }

    &:not(.title) {
      font-family: 'Nunito', serif;
    }
  }
}