@mixin applySingleArticle()
{
  $radius: 0.25rem;

  background: darken($white, 10%);
  border-radius: $radius;
  overflow: hidden;

  * {
    color: $black;
  }

  &:hover {
    figure.thumbnail-container {
      img {
        transform: scale(1.05);
      }
    }
  }

  .single-article-texts {
    display: grid;
    row-gap: 0.5rem;

    * {
      word-break: break-all;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
    }

    i {
      font-size: 0.85rem;
      margin-top: 0.25rem;
    }

    hr {
      height: 1px;
      width: 100%;
      background: darken($white, 30%);
      border: none;
      //bypass le padding
      transform: scaleX(2);
    }

    p.article-author-date {
      font-size: 0.75rem;
      font-weight: lighter;
    }
  }

  &.has-thumbnail {
    figure.thumbnail-container {
      height: fit-content;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
        transition: all 0.15s ease-in-out;
      }
    }

    .single-article-texts {
      padding: 0 $radius $radius $radius;
    }
  }

  .single-article-texts {
    padding: $radius;
  }
}