@use "../vars" as *;
@use "../funcs" as *;

body.category {
  section.hero-banner {
    * {
      color: var(--color) !important;
    }

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--bg) no-repeat center;
    background-size: cover;

    .container {
      flex-direction: column;
      width: 100%;
      height: 100%;

      .banner-contents {
        width: fit-content;
        height: fit-content;
        padding: 1rem 1rem;
        border-radius: 1rem;
        overflow: hidden;

        background: var(--bg-color-rgba) !important;
      }

      h1, h2 {
        text-align: center;
        margin: 0.25rem 0;
        color: var(--color);
      }

      h1 {
        font-size: 5rem;
        text-transform: uppercase;
      }

      h2 {
        font-size: 3rem;
      }
    }
  }

  div.page-category {
    background-color: var(--bg-color) !important;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .container {
      border-radius: 2rem;
      padding: 2rem;
      overflow: hidden;
      background: $white;

      &:has(section.no-posts) {
        background: transparent !important;

        h3 {
          text-align: center;
          font-size: 4rem;
          font-weight: bold;
          color: var(--color);
          padding: 2rem 0;
          user-select: none;
        }
      }

      section.all-articles {
        &.have-posts {
          .all-articles-title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 0.5rem;
          }

          .all-articles-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            article.single-article {
              @include applySingleArticle();
            }
          }
        }

        &.no-posts {

        }
      }
    }
  }
}

