@use "../vars" as *;
@use "../funcs" as *;

body.category {
  section.hero-banner {
    * {
      color: var(--color) !important;
    }

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--bg) no-repeat center;
    background-size: cover;

    .container {
      flex-direction: column;
      height: 100%;

      .banner-contents {
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        border-radius: 1rem;
        overflow: hidden;

        background: var(--bg-color-rgba) !important;
      }

      h1, h2 {
        text-align: center;
        margin: 0.25rem 0;
        color: var(--color);
      }

      h1 {
        @include applyBannerTitle()
      }

      h2 {
        //font-size: 3rem;
      }
    }
  }

  div.page-category {
    background-color: var(--bg-color) !important;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .container {
      overflow: hidden;
      background: $white;

      @include desktopLayout {
        border-radius: 2rem;
      }

      @include tabletLayout {
        border-radius: 1.5rem;
      }

      @include mobileLayout {
        border-radius: 1rem;
      }

      section {
        @include desktopLayout {
          padding: 2rem;
        }

        @include tabletLayout {
          padding: 1.25rem;
        }

        @include mobileLayout {
          padding: 0.75rem;
        }
      }

      &:has(section.no-posts) {
        background: transparent !important;

        h3 {
          @include desktopLayout {
            font-size: 4rem;
            padding: 2rem 0;
          }

          @include tabletLayout {
            font-size: 3.25rem;
            padding: 1.5rem 0;
          }

          @include mobileLayout {
            font-size: 2.5rem;
            padding: 1rem 0;
          }

          text-align: center;
          font-weight: bold;
          color: var(--color);
          user-select: none;
        }
      }

      section.all-articles {
        &.have-posts {
          .all-articles-title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1rem;
          }

          .all-articles-grid {
            display: grid;

            @include desktopLayout {
              grid-template-columns: repeat(3, 1fr);
              gap: 1rem;
            }

            @include tabletLayout {
              grid-template-columns: repeat(2, 1fr);
              gap: 1rem;
            }

            @include mobileLayout {
              grid-template-columns: repeat(1, 1fr);
              gap: 0.75rem;
            }


            article.single-article {
              @include applySingleArticle();
            }
          }
        }

        &.no-posts {

        }
      }
    }
  }
}

